<%= render 'layouts/messages' %>
<div class="green ui fluid card">
  <div class="content">
    <a class="header"><%= @flashcard.name %></a>
    <div class="meta">
      <span class="date"><%= time_ago_in_words(@flashcard.created_at) %></span>
    </div>
    <div class="description">
     <%= markdown(@flashcard.description) %>
    </div>
  </div>
  <div class="extra content"> 
     By <%= @flashcard.user.email %>
  <span class="right floated">
    <div id="likes_<%= @flashcard.id %>">
  <%= render 'likes', flashcard: @flashcard %>
  </div>
  </span>
  </div>
</div>
<% if can? :update, @flashcard %>
<%= link_to 'Edit', edit_flashcard_path(@flashcard) %> |
<% end %>
<%= link_to 'Back', flashcards_path %>
