  <div class="ui secondary  menu">
    <a class="item" href="<%= root_path %>">
      <h2><i class="diamond icon"></i>DevsDeck</h2>
    </a>
    <div class="right menu">
      <div class="item">
        <% if current_user %>
        <%= link_to 'New Card',new_card_path, class: 'ui  red item'%>
        <div class="ui icon input">
          
       </div>
       <div class='ui item'> <%= current_user.email %> </div>
           <div class="ui right dropdown item">
            <i class="sidebar icon"></i>
            <div class="menu">
              <%= link_to 'Home', root_path, class: 'ui item'%>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'ui item'%>
            </div>
          </div>
      <% end %>
     </div>
   </div>
 </div>
