<div class="card">

    <div class="image">
      <%= image_tag('https://www.drupal.org/files/profile_default.png') %>
    </div>
    <div class="content">
      <div class="header">
        <div><%= @user.email %></div>
      </div>
      <div class="description">
        <%= @user.description %>
      </div>
    </div>
    <div class="extra content">
      <span>
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      </span>
    </div>
    <div class="extra content center ">
      <%= render 'statistic', total: @total_cards, label: 'Cards'%>
      <%= render 'statistic', total: @total_liked, label: 'Likes'%>
   </div>
    </div>
