<div class="card">

    <div class="image">
      <%= image_tag(avatar_url(@user)) %>
    </div>
    <div class="content">
      <div class="header">
        <%= @user.username %>
      </div>
      <div class="description">

      <%= @user.name%>
      <br>
      <%= @user.description %>
      </div>
    </div>
    <% if can? :update, @user %>
    <div class="extra content center aligned">
      <span>
        <%= link_to edit_user_path(@user) do %>
          <i class="edit icon"></i>
          Edit Profile
        <% end %>
      </span>
    </div>
    <div class="extra content center aligned">
      <%= link_to user_cards_path(@user) do %>
        <i class="file outline icon"></i>
        All Cards
      <% end %>
    </div>
    <div class="extra content center aligned">
      <%= link_to user_likes_path(@user) do %>
        <i class="empty heart icon"></i>
        All Likes
      <% end %>
    </div>
  <% end %>
    <div class="extra content center aligned">
      <%= render 'statistic', total: @total_cards, label: 'Cards'%>
      <%= render 'statistic', total: @total_likes, label: 'Likes'%>
   </div>
    </div>
