<div class="card">

    <div class="image">
      <%= image_tag('user.png') %>
    </div>
    <div class="content">
      <div class="header"> <%= @user.name %></div>
      <div class="meta">
        <a>Experience: 0 xp</a>
      </div>
      <div class="description">
        <%= @user.description %>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      </span>
    </div>
    <div class="extra content">
      <span class="right floated">
        <%= time_ago_in_words(current_user.created_at) %>
      </span>
      <span>
        <i class="user icon"></i>
        Latest badge: Newbie
      </span>
    </div>
</div>
