<div class="ui three column doubling stackable grid container ">
  <div class="column"></div>
  <div class="column">
    <h4>Change your password here</h4>
  <%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'ui form' }) do |f| %>

    <%= render 'layouts/messages' %>
    <div class="ui">
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <%= f.password_field :password, autofocus: true, placeholder: 'New Password' %>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm new password ' %>
          <%= f.hidden_field :reset_password_token %>
        </div>
      </div>
      <%= f.button "Change my password", class: 'ui fluid submit button', data: { disable_with: '<i class="spinner icon"></i> Changing it...'}%>
    </div>
    <% end %>
    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="column"></div>
