<%= form_for @card, :html => {class: 'ui form'} do |f| %>
<% if @card.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

  <ul>
    <% @card.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.text_field :name, placeholder: "Name" %>
</div>
<div class="field">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="write">Description</a>
      <a class="item" data-tab="preview" id="card-preview">Preview</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="write">
      <%= f.text_area :description,
        placeholder: "To use code blocks you can surround your code with three backticks, and you can also specify a language for highlighting:
    ```
    # your code goes here...
    ```
    or
    ``` ruby
    # your code goes here...
    ```", id: "card-description" %>
    </div>
    <div class="ui bottom attached tab segment preview" data-tab="preview" style="height: 197px overflow: auto">
    </div>
  We use RedCarpet Markdown. If you need more help with syntaxes we recommend you to refer to <a href="https://caleorourke.gitbooks.io/redcarpet-syntax/content/code/index.html">this documentation</a>.
</div>
<div class="field">
  <%= select_tag "tags[]", options_from_collection_for_select(@all_tags, "name", "name", @card.tags.pluck(:name)), class: "ui fluid multiple search selection dropdown", multiple: ""%>
  </div>
<div class="actions">
  <% if f.object.new_record? %>
    <%= f.button 'Create', class: 'ui button', data: { disable_with: '<i class="spinner icon"></i> Creating...'}%>
  <% else %>
    <%= f.button 'Update', class: 'ui button', data: { disable_with: '<i class="spinner icon"></i> Updating...'}%>
  <% end %>
</div>
<% end %>
