<div class="ui secondary  menu">
  <%= render "shared/header_logo"%>
  <div class="right menu">
    <div class="item">
      <% if current_user %>
        <%= link_to "New Card",new_card_path, class: "ui  red item"%>
        <div class="ui icon input">
          <%= search_form_for(@q,  method: "get") do |f| %>
            <div class="ui icon input">
              <input type="text" name="q[name_cont]" id="q_name_cont" placeholder="Search...">
              <%= f.search_field card_namre %>
              <i class="search icon"></i>
            </div>
          <% end %>
        </div>
        <div class="ui item">
          <span><%= link_to user_path(current_user), class: "ui item" do %>
            <img class="ui avatar image" src="<%= avatar_url(current_user) %>">
            <%= current_user.username %>
          <% end %>
          </span>
        </div>
    </div>
    <%= render "shared/header_dropdown" %>
  <% else %>
    <%= link_to "Login/Signup", new_user_session_path, class: "ui item"%>
  <% end %>
  </div>
</div>
</div>
