<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="ui container">
  <div class="ui secondary  menu">
  <a class="item">
    <h2><i class="diamond icon"></i>RubyFlashCards</h2>
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="search...">
        <i class="search link icon"></i>
      </div> 
      <% if current_user %>
        <div class='ui item'> <%= current_user.email %> </div>
    <%= link_to 'Logout', destroy_user_session_path, class: 'ui item'%>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: 'ui item'%>
<% end %>

    </div>
  </div>
  </div>
<%= yield %>

</body>
</html>
